<body>
<div id="subMenu">
  <div class="menu" id="option1">
    <table>
      <tbody>
      <tr>
        <td> <div id="menu_img2"></div></td>
        <td> <div id="option_str1" style="width: 120px;">首页</div></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="menu" id="option2" style="cursor:pointer;" onclick="location.href='Advanced_LAN_Content.asp.htm'">
    <table>
      <tbody>
      <tr>
        <td><div id="menu_img2"></div></td>
        <td><div id="option_str1" style="width:120px;">生产监视</div></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="menu" id="option3" style="cursor:pointer;" onclick="location.href='Advanced_WAN_Content.asp.htm'">
    <table>
      <tbody>
      <tr>
        <td><div id="menu_img3"></div></td>
        <td><div id="option_str1" style="width:120px;">设备管理</div></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="menu" id="option5" style="cursor:pointer;" onclick="location.href='Advanced_IPv6_Content.asp.htm'">
    <table>
      <tbody>
      <tr>
        <td><div id="menu_img5"></div></td>
        <td><div id="option_str1" style="width:120px;">视频管理</div></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="menu" id="option6" style="cursor:pointer;" onclick="location.href='Advanced_PPTP_Content.asp.htm'">
    <table>
      <tbody>
      <tr>
        <td><div id="menu_img6"></div></td>
        <td><div id="option_str1" style="width:120px;">巡检管理</div></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="menu" id="option7" style="cursor:pointer;" onclick="location.href='Advanced_BasicFirewall_Content.asp.htm'">
    <table>
      <tbody>
      <tr>
        <td><div id="menu_img7"></div></td>
        <td><div id="option_str1" style="width:120px;">系统监控</div></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="menu" id="option8" style="cursor:pointer;" onclick="location.href='Advanced_OperationMode_Content.asp.htm'">
    <table>
      <tbody>
      <tr>
        <td><div id="menu_img8"></div></td>
        <td><div id="option_str1" style="width:120px;">系统管理</div></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="menu" id="option9" style="cursor:pointer;" onclick="location.href='Main_LogStatus_Content.asp.htm'">
    <table>
      <tbody>
      <tr>
        <td><div id="menu_img9"></div></td>
        <td><div id="option_str1" style="width:120px;">数据上传</div></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="menu" id="option10" style="cursor:pointer;" onclick="location.href='Main_Analysis_Content.asp.htm'">
    <table>
      <tbody>
      <tr>
        <td><div id="menu_img10"></div></td>
        <td><div id="option_str1" style="width:120px;">数据下载</div></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
